
@{
    ViewData["Title"] = "Index";
}

<h2>GEPAME</h2>

<p>Wellcome to GEPAME (Emergency Fleet Manager, in Spanish <i>Gestor de Parque Móvil de Emergencia</i>).</p>
<p>If you want to access, click on "<a href="/Account/Login">Login</a>".</p>
<p>If you don't have an account yet, please, contact with us <a href="~/Home/About">here</a>.</p>

