################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TFG-SAHANA/.vs/TFG-SAHANA/v15/Server/sqlite3/db.lock
/TFG-SAHANA/GEPAME-Core/obj/Debug/netcoreapp2.0/GEPAMECore.AssemblyInfo.cs
/TFG-SAHANA/GEPAME-Core/obj/Debug/netcoreapp2.0/GEPAMECore.AssemblyInfoInputs.cache
/TFG-SAHANA/GEPAME-Core/obj/Debug/netcoreapp2.0/GEPAMECore.csproj.CoreCompileInputs.cache
/TFG-SAHANA/GEPAME-Core/obj/GEPAMECore.csproj.nuget.g.targets
/TFG-SAHANA/GEPAME-Core/obj/GEPAMECore.csproj.nuget.g.props
/TFG-SAHANA/GEPAME-Core/obj/GEPAMECore.csproj.nuget.cache
/TFG-SAHANA/GEPAME-Core/obj/Debug/netcoreapp2.0/GEPAMECore.csprojResolveAssemblyReference.cache
/TFG-SAHANA/GEPAME-Core/GEPAMECore.csproj
