@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<article>
    <address>
        Created by Jesús Iráizoz Domínguez<br />
        Computer Science Engineering - Complutense University of Madrid<br />
        <a target="_blank" href="https://www.jiraizoz.es">jiraizoz.es</a> - <a target="_blank" href="http://gepame.jiraizoz.es">gepame.jiraizoz.es</a><br />
    </address>

    <address>
        <strong>Contact:</strong> <a href="mailto:jeiraizo@ucm.es">jeiraizo@ucm.es</a><br />
    </address>
</article>

